@model RegisrtationInfo

@{
    ViewData["Title"] = "Login";
}


<div>

   <div class="mobile">
        <div class="back">
            <div class="plathform">
                <p class ="city">
                    <img src="~/pictures/Plathform.png"/>
                </p>
            </div>
        </div>

        <div class="menu">
            <div class="fon">
                <div class="strangeButton">
                    <svg version="1.1" id="Frame_0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px">
                        <g id="Странная_кнопка">
                            <g id="Фон_странной_кнопки">
                                <path fill="#ffffff" fill-rule="evenodd" fill-opacity="0.756863" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" d="M 65.587 20.527 C 97.452 37.993 138.117 61.625 169.092 81.699 C 174.681 86.199 182.013 92.549 182.695 99.152 C 183.425 106.218 179.747 114.557 172.083 120.318 C 139.015 138.962 92.856 162.839 56.766 180.300 C 51.835 182.685 44.521 182.664 38.542 179.175 C 34.034 176.545 32.215 172.110 32.262 168.358 C 32.749 129.470 31.741 36.517 32.478 34.724 C 34.453 29.913 39.414 24.152 44.069 21.835 C 49.613 19.076 59.916 17.419 65.587 20.527 Z" />
                            </g>
                            <g id="Центр_странной_кнопки">
                                <path fill="#27b7fb" fill-rule="evenodd" stroke="none" d="M 70.478 61.084 C 70.478 61.089 69.893 112.239 69.893 112.245 C 69.895 112.243 89.651 99.942 89.653 99.941 C 89.653 99.938 89.907 71.373 89.907 71.370 C 89.914 71.374 160.504 112.890 160.511 112.894 C 160.512 112.893 166.063 109.380 167.114 106.925 C 168.774 103.046 166.119 92.896 166.119 92.895 C 166.111 92.890 87.234 46.800 87.226 46.795 C 87.225 46.795 81.053 45.238 76.447 48.625 C 70.012 53.357 70.479 61.083 70.478 61.084 M 65.958 118.860 C 65.961 118.858 91.461 103.198 91.464 103.196 C 91.466 103.197 112.810 114.987 112.812 114.988 C 112.808 114.991 68.057 140.325 68.052 140.328 C 68.051 140.328 64.392 144.163 54.971 142.439 C 48.395 140.296 46.849 134.921 46.849 134.921 C 46.848 134.912 45.633 45.091 45.633 45.082 C 45.634 45.081 49.225 37.329 52.163 35.440 C 55.227 33.470 60.552 32.840 64.141 33.459 C 69.855 34.445 80.728 43.378 80.730 43.379 C 80.729 43.380 74.971 45.371 73.054 47.058 C 70.011 49.737 67.256 54.736 66.020 58.598 C 66.105 76.386 65.958 118.854 65.958 118.860 M 93.806 77.781 C 93.806 77.784 93.416 100.499 93.416 100.501 C 93.421 100.504 138.507 126.434 138.511 126.437 C 138.513 126.436 157.231 114.930 157.233 114.929 C 157.227 114.925 93.813 77.785 93.806 77.781 M 115.839 118.193 C 115.837 118.194 99.008 128.669 99.006 128.670 C 99.008 128.671 113.948 139.146 113.949 139.147 C 113.951 139.146 131.983 129.186 131.985 129.185 C 131.983 129.184 115.841 118.194 115.839 118.193 M 91.106 133.307 C 91.104 133.308 77.022 142.066 77.021 142.067 C 77.023 142.068 92.134 151.341 92.136 151.342 C 92.137 151.341 105.704 142.583 105.705 142.582 C 105.703 142.581 91.107 133.308 91.106 133.307 M 44.267 165.053 C 44.266 165.054 37.061 169.377 37.060 169.377 C 37.061 169.378 44.884 174.590 44.885 174.590 C 44.885 174.590 52.502 169.738 52.503 169.738 C 52.502 169.737 44.267 165.054 44.267 165.053 M 68.090 148.766 C 68.088 148.766 56.239 155.120 56.238 155.121 C 56.239 155.122 68.775 163.365 68.777 163.365 C 68.778 163.365 80.112 155.809 80.113 155.808 C 80.112 155.807 68.091 148.766 68.090 148.766 Z" />
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="RegisterLoginView">
                    <form method="post" asp-action="RegisterLogin" asp-controller="Home">
                        <div class="menuRegister">
                            <div>
                                <input class="reg" placeholder="Логин" name="name" autocomplete="off" />
                            </div>
                            <div>
                                <input class="reg" placeholder="Пароль" name="password" autocomplete="off" />
                            </div>
                            <div>
                                <div>
                                    <button class="reg RegistrationButton" type="submit">Зарегистрироваться</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>





                <div class="CheckLoginView">
                    <div сlass ="logPass">
                        <form class="menuLogin" method="post" asp-action="CheckLogin" asp-controller="Home">
                                <div>
                                    <input class="log" placeholder="Логин" name="name" autocomplete="off" />
                                </div>
                                <div>
                                    <input class="log" placeholder="Пароль" name="password" autocomplete="off" />
                                </div>
                                <div>
                                <button class="log RegistrationButton" type="submit">Подтвердить</button>
                            </div>                      
                        </form>
                    </div>

                    <div class="InfoAndButton">
                        <div class="logInfo">
                            <div class="infoText">
                                Создать аккаунт
                            </div>

                            <form method="post" asp-action="Register" asp-controller="Home">
                                <button class="regButtonLink">
                                    Зарегистрироваться
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="name">
            <svg version="1.1" id="Frame_0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500px" height="210px">
                <g id="Название">
                    <g id="Облачко">
                        <path fill="#4fa9d7" fill-rule="evenodd" fill-opacity="0.396078" stroke="#4296b0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 17.482 43.551 C 18.051 46.024 45.491 83.713 50.467 103.084 C 51.859 108.503 50.609 119.416 51.271 121.588 C 50.266 120.663 36.061 120.140 34.377 119.978 C 34.160 121.482 33.627 198.200 33.572 202.037 C 40.314 203.480 112.713 200.515 116.511 201.770 C 117.166 202.890 114.903 204.773 115.575 205.885 C 118.346 204.054 169.501 204.990 187.609 203.640 C 202.844 200.139 229.845 185.692 234.571 183.059 C 236.999 183.804 265.228 200.212 281.962 205.311 C 298.061 204.420 327.174 198.895 334.586 196.573 C 340.336 198.342 368.253 205.064 382.858 203.712 C 401.541 201.982 427.006 193.996 440.740 182.756 C 454.086 171.834 464.457 150.727 467.898 135.007 C 470.029 125.272 469.692 111.297 465.702 102.022 C 464.272 98.699 458.824 93.950 457.969 92.316 C 459.507 88.623 463.113 73.161 461.711 64.999 C 459.635 52.909 451.321 37.137 441.878 28.140 C 433.588 20.240 418.537 12.746 406.704 9.991 C 394.387 7.124 376.446 7.367 364.232 10.553 C 356.909 12.463 345.437 19.329 342.341 21.966 C 335.530 16.636 325.247 12.455 316.960 10.624 C 304.096 7.781 285.587 7.653 272.740 10.553 C 263.628 12.609 249.665 19.704 245.049 23.463 C 235.499 16.453 212.204 7.767 196.757 7.801 C 184.120 7.829 157.054 20.828 157.111 20.282 C 157.503 20.629 159.228 11.134 159.589 9.875 C 159.814 8.720 114.543 6.311 95.926 10.049 C 81.900 13.788 17.736 42.294 17.482 43.551 Z" />
                    </g>
                    <g id="Облачко_2">
                        <path fill="#ffffff" fill-rule="evenodd" fill-opacity="0.733333" stroke="none" d="M 20.021 43.499 C 31.214 35.381 73.966 21.705 96.245 10.945 C 96.886 10.635 156.964 8.787 157.780 10.350 C 159.873 13.514 154.648 21.634 154.802 22.259 C 158.107 20.611 181.549 10.632 194.105 8.960 C 218.664 7.169 236.205 21.911 244.524 24.244 C 251.971 20.973 262.606 14.055 271.321 11.739 C 288.045 7.294 311.955 9.900 327.893 15.113 C 333.138 16.829 338.738 20.799 343.376 24.244 C 348.296 18.531 357.523 12.873 365.515 11.408 C 378.995 8.936 398.314 8.074 411.418 11.789 C 423.073 15.093 436.943 24.105 444.915 32.259 C 450.500 37.972 454.962 47.353 457.941 54.590 C 451.362 47.126 443.545 36.216 434.680 31.018 C 421.845 23.493 400.942 17.045 385.518 17.667 C 372.146 18.206 348.806 27.480 344.115 32.259 C 338.361 26.881 327.136 20.116 318.372 17.682 C 307.369 14.625 291.195 14.617 279.912 16.751 C 268.766 18.860 253.877 27.693 245.721 31.308 C 233.488 28.164 217.682 22.288 205.476 18.923 C 201.414 17.803 196.083 15.387 191.828 15.510 C 177.778 15.917 156.016 28.648 149.075 32.333 C 145.953 27.862 145.726 18.645 140.495 18.976 C 135.136 16.227 125.962 18.639 119.803 19.329 C 88.963 22.783 37.540 39.491 20.021 43.499 Z" />
                    </g>
                    <g id="Облачко_3">
                        <path fill="#ffffff" fill-rule="evenodd" fill-opacity="0.450980" stroke="none" d="M 43.480 131.857 C 43.205 140.190 42.868 179.452 43.480 192.538 C 52.912 195.255 110.225 188.375 123.448 186.336 C 126.056 187.556 126.880 192.034 129.571 193.106 C 133.589 194.640 218.482 179.520 234.136 168.098 C 239.574 171.751 272.985 187.581 291.401 193.307 C 307.358 190.491 326.123 187.331 340.159 179.489 C 350.375 185.613 371.328 193.605 385.431 191.926 C 406.739 189.391 432.911 171.875 444.033 155.738 C 455.114 139.662 461.148 114.702 453.314 93.654 C 454.688 86.392 458.508 76.932 458.681 69.572 C 458.796 64.679 458.298 57.918 456.116 53.413 C 451.855 44.616 441.810 34.268 432.646 29.094 C 418.373 21.037 394.606 14.919 377.787 16.935 C 366.555 18.281 351.886 27.128 344.419 32.488 C 326.210 16.827 313.554 15.766 298.610 15.239 C 282.100 13.506 256.924 24.294 247.144 30.791 C 229.625 28.624 205.894 16.645 192.851 15.239 C 178.585 16.156 149.130 31.167 149.869 33.336 C 147.642 31.269 146.995 22.459 142.800 20.046 C 131.891 8.846 21.497 44.553 20.075 43.799 C 27.851 53.616 54.505 73.292 60.795 89.891 C 65.218 101.565 60.279 128.973 61.077 130.894 C 59.031 131.445 45.915 131.719 43.480 131.857 Z" />
                    </g>
                    <g id="Облачко_4">
                        <path fill="#ffffff" fill-rule="evenodd" fill-opacity="0.356863" stroke="none" d="M 37.221 48.030 C 45.407 56.150 55.251 65.232 65.138 75.282 C 69.147 84.427 72.339 97.192 72.943 106.875 C 73.469 115.312 76.280 128.690 69.746 134.900 C 65.938 138.519 56.384 138.361 51.630 139.018 C 49.748 150.468 53.061 169.371 50.834 185.460 C 65.100 187.493 104.847 174.246 126.297 174.243 C 130.026 175.912 131.244 185.510 134.513 184.133 C 156.774 177.830 211.205 162.829 237.698 156.118 C 255.801 159.855 275.459 180.883 294.635 181.759 C 309.191 182.423 328.991 173.814 340.330 167.290 C 354.187 171.351 374.709 183.202 389.846 180.262 C 410.053 176.337 430.816 154.924 439.872 138.606 C 447.373 125.088 443.731 103.684 446.048 88.789 C 447.204 81.352 452.889 71.313 450.576 64.086 C 445.771 49.071 426.169 31.083 408.994 27.033 C 390.904 22.767 360.269 32.267 348.884 41.854 C 337.004 34.679 323.283 24.942 310.184 23.327 C 290.755 20.932 260.744 30.458 246.836 37.573 C 229.122 34.045 207.264 21.523 189.360 22.831 C 174.779 23.896 153.845 39.832 145.138 40.867 C 141.308 37.571 139.057 28.529 133.561 26.209 C 131.040 25.784 37.755 47.571 37.221 48.030 Z" />
                        <path fill="#ffffff" fill-rule="evenodd" fill-opacity="0.482353" stroke="none" d="M 56.007 53.107 C 63.691 61.597 74.037 70.309 83.924 80.359 C 87.933 89.505 91.125 102.269 91.729 111.953 C 92.255 120.390 94.501 133.345 88.531 139.978 C 83.826 145.205 71.180 146.465 64.871 147.869 C 64.472 154.779 61.966 165.494 63.090 175.605 C 75.915 177.713 110.113 159.531 129.457 158.719 C 134.457 160.701 134.902 169.873 139.879 171.900 C 161.439 165.886 214.244 151.850 239.679 144.812 C 255.310 153.634 281.238 171.062 301.740 170.105 C 312.925 169.583 326.673 160.613 334.799 154.891 C 351.253 158.218 375.297 173.418 392.402 168.737 C 410.272 163.847 425.647 141.989 432.245 126.628 C 436.988 115.585 434.092 99.138 434.470 87.342 C 434.756 78.429 438.417 65.932 434.733 57.621 C 430.510 48.095 419.313 35.258 407.964 32.932 C 389.319 29.113 361.193 45.845 349.697 55.771 C 337.030 48.323 325.357 34.371 311.586 32.235 C 292.387 29.257 263.334 41.914 249.417 48.838 C 231.303 45.027 210.212 29.167 191.823 30.153 C 175.352 31.035 152.522 50.688 142.704 51.862 C 139.384 49.010 137.289 41.299 132.554 39.244 C 130.579 38.891 56.447 52.767 56.007 53.107 Z" />
                    </g>
                    <g id="">
                        <path fill="#1593c2" fill-rule="evenodd" stroke="none" d="M 136.650 147.744 C 131.622 147.744 126.593 147.744 121.565 147.744 C 121.565 126.581 121.565 105.417 121.565 84.252 C 119.597 84.253 117.630 84.253 115.662 84.252 C 115.662 83.659 115.662 83.064 115.662 82.470 C 118.307 74.227 120.953 65.984 123.598 57.740 C 127.949 57.741 132.299 57.741 136.650 57.740 C 136.650 87.742 136.650 117.743 136.650 147.744 Z" />
                        <path fill="#1593c2" fill-rule="evenodd" stroke="none" d="M 184.530 97.710 C 191.067 97.711 197.603 97.711 204.141 97.710 C 204.140 88.241 204.140 78.770 204.141 69.299 C 197.603 69.300 191.067 69.300 184.530 69.299 C 184.530 78.770 184.530 88.241 184.530 97.710 M 219.357 66.022 C 219.357 90.522 219.357 115.021 219.357 139.520 C 219.357 145.003 216.275 147.744 210.109 147.744 C 199.812 147.744 189.514 147.744 179.217 147.744 C 173.008 147.744 169.904 145.003 169.904 139.520 C 169.904 133.156 169.904 126.792 169.904 120.427 C 174.932 120.427 179.960 120.427 184.989 120.427 C 184.989 125.680 184.989 130.932 184.989 136.185 C 191.372 136.185 197.756 136.185 204.141 136.185 C 204.140 127.156 204.140 118.127 204.141 109.097 C 195.636 109.098 187.131 109.098 178.627 109.097 C 172.549 109.097 169.510 106.394 169.510 100.988 C 169.510 89.333 169.510 77.678 169.510 66.022 C 169.510 60.501 172.549 57.740 178.627 57.740 C 189.077 57.741 199.527 57.741 209.978 57.740 C 216.231 57.740 219.357 60.501 219.357 66.022 Z" />
                        <path fill="#1593c2" fill-rule="evenodd" stroke="none" d="M 266.909 136.415 C 273.664 136.415 280.420 136.415 287.176 136.415 C 287.175 128.095 287.176 119.775 287.176 111.455 C 283.809 109.768 280.442 108.082 277.075 106.394 C 273.686 108.082 270.297 109.768 266.909 111.455 C 266.909 119.775 266.909 128.095 266.909 136.415 M 277.075 95.812 C 280.398 94.087 283.721 92.362 287.045 90.636 C 287.044 83.448 287.044 76.259 287.045 69.069 C 280.420 69.070 273.795 69.070 267.171 69.069 C 267.171 76.259 267.171 83.448 267.171 90.636 C 270.472 92.362 273.773 94.087 277.075 95.812 M 302.458 113.353 C 302.458 122.076 302.458 130.798 302.458 139.520 C 302.458 145.003 299.375 147.744 293.210 147.744 C 282.409 147.744 271.609 147.744 260.809 147.744 C 254.731 147.744 251.693 145.003 251.693 139.520 C 251.692 130.798 251.692 122.076 251.693 113.353 C 251.693 110.017 252.961 107.468 255.497 105.704 C 258.514 104.170 261.553 102.637 264.613 101.103 C 261.684 99.608 258.754 98.112 255.824 96.617 C 253.157 94.777 251.824 92.304 251.824 89.198 C 251.824 81.473 251.824 73.748 251.824 66.022 C 251.824 60.501 254.928 57.740 261.137 57.740 C 271.784 57.741 282.431 57.741 293.079 57.740 C 299.157 57.740 302.196 60.500 302.196 66.022 C 302.195 73.748 302.195 81.473 302.196 89.198 C 302.196 92.342 300.884 94.815 298.260 96.617 C 295.331 98.112 292.401 99.608 289.472 101.103 C 292.489 102.637 295.527 104.170 298.588 105.704 C 301.168 107.468 302.458 110.017 302.458 113.353 Z" />
                        <path fill="#1593c2" fill-rule="evenodd" stroke="none" d="M 384.837 139.520 C 384.837 145.003 381.754 147.744 375.589 147.744 C 365.095 147.744 354.600 147.744 344.106 147.744 C 338.029 147.744 334.990 145.003 334.990 139.520 C 334.990 132.600 334.990 125.680 334.990 118.759 C 340.018 118.759 345.046 118.759 350.075 118.759 C 350.075 124.568 350.075 130.376 350.075 136.185 C 356.655 136.185 363.236 136.185 369.817 136.185 C 369.817 128.651 369.817 121.117 369.817 113.583 C 363.542 109.807 357.268 106.030 350.993 102.253 C 350.993 101.314 350.993 100.375 350.993 99.435 C 357.268 95.717 363.542 91.998 369.817 88.278 C 369.817 81.953 369.817 75.626 369.817 69.299 C 363.236 69.300 356.655 69.300 350.075 69.299 C 350.075 74.764 350.075 80.227 350.075 85.690 C 345.046 85.691 340.018 85.691 334.990 85.690 C 334.990 79.135 334.990 72.579 334.990 66.022 C 334.990 60.501 338.094 57.740 344.303 57.740 C 354.732 57.741 365.160 57.741 375.589 57.740 C 381.754 57.740 384.837 60.501 384.837 66.022 C 384.836 73.077 384.836 80.132 384.837 87.186 C 384.837 90.751 383.132 93.512 379.721 95.467 C 376.550 97.270 373.380 99.072 370.211 100.873 C 373.424 102.637 376.638 104.401 379.852 106.164 C 383.175 107.966 384.837 110.669 384.837 114.273 C 384.837 122.689 384.836 131.105 384.837 139.520 Z" />
                    </g>
                </g>
            </svg>
        </div>
    </div>

</div>



@section Scripts{

     <script>

            var loadRegisterInfo = @Html.Raw(@Model.RegInfo);

      </script>



    <script src="~/js/login.js"></script>
}






 @*   <form method="post" asp-controller="Home" asp-action="CheckLogin">
        <input placeholder="Подсказка" name="nikname" autocomplete="off" />
        <button type="submit">Тык</button>
    </form>*@